
body {
	font-family: "opensans", opensans;
	color: #444;
	background: #ebebeb;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

a {
	outline: none;
	color: #63f8d3;
	text-decoration: none;
}

a:hover, a:focus {
	color: #57d8b8;
}

.hidden {
	position: absolute;
	overflow: hidden;
	width: 0;
	height: 0;
	pointer-events: none;
}

/* Content */
.content {
	padding: 3em 0;
}

.intro {
	padding: 1em;
	max-width: 1000px;
	text-align: center;
	font-size: 2em;
}

/* no borrar*/
.tabla-acordeon-section {
	padding: 2em 0 8em;
	min-height: 100vh;
	position: relative;
}
/* no borrar*/
.tabla-acordeon-section__title {
	font-size: 1.4em;
	font-weight: 700;
	margin: 3em 0 5em;
	flex: none;
}
/* no borrar*/
.tabla-acordeon-section a {
	color: #333;
}
/* no borrar*/
.tabla-acordeon-section a:hover, 
.tabla-acordeon-section a:focus {
	color: #000;
}


.Sección-9_1 {

	color: #382628;
}

/* Related demos */
.content--related {
	text-align: center;
	font-weight: bold;
	padding: 10em 1em;
	background: #2C292F;
}

.media-item {
	display: inline-block;
	padding: 1em;
	vertical-align: top;
	-webkit-transition: color 0.3s;
	transition: color 0.3s;
}

.media-item__img {
	max-width: 100%;
	opacity: 0.6;
	-webkit-transition: opacity 0.3s;
	transition: opacity 0.3s;
}

.media-item:hover .media-item__img,
.media-item:focus .media-item__img {
	opacity: 1;
}

.media-item__title {
	margin: 0;
	padding: 0.5em;
	font-size: 1em;
}

@media screen and (max-width: 50em) {
	.codrops-header {
		padding: 3em 10% 4em;
	}
}

@media screen and (max-width: 40em) {
	.codrops-header h1 {
		font-size: 2.8em;
	}
}

