.separator {
    height: 50px;
    background-color: black;
}

h2 {
    text-align: center;
    color: green;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 200px 200px;
    grid-template-rows: repeat(5, 40px);

    &-header {
        display: flex;
        justify-content: left;
        align-items: center;
        padding-left: 10px;
        color: green;

        border-bottom: 1px solid green;

        &_logo {
            display: flex;
            justify-content: center;
            align-items: center;
            border-bottom: 1px solid green;

            img {
                height: 40px;
            }
        }
    }

    &-item {
        display: flex;
        align-items: center;
        justify-content: center;

        border-bottom: 1px solid rgb(240,240,240);

        &.left {
            justify-content: left;
            padding-left: 10px;
        }
    }
}

.accordion {
    &-button {
        display: flex;
        padding: 10px;
        justify-content: center;
        align-items: center;

        &-content {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 100%;
        }

        img {
            height: 80px;
        }
    }

    &-content {
        display: grid;
        grid-template-columns: 1fr 100px;
        grid-template-rows: repeat(4, 40px);
    }
}